{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div style="background: #292929; margin-left: 35%; margin-right: 35%; padding-left:5%; padding-right:5%;">

    <h1 class="h3 mb-3 font-weight-normal text-center" style="color: #DDDDDD; margin-top: 40%; padding-top: 10%;">Inscription</h1>

    {{ form_start(registrationForm) }}
        <label style="color: #DDDDDD; padding-bottom: 2.5%;">{{ form_row(registrationForm.email) }}</label>
        <label style="color: #DDDDDD; padding-bottom: 2.5%; padding-top: 4%;">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'  
        }) }}</label>
        <label style="color: #DDDDDD; padding-bottom: 2.5%; padding-top: 4%;" >{{ form_row(registrationForm.pseudo) }}</label>
        <label style="color: #DDDDDD; padding-bottom: 2.5%; padding-top: 4%;" >{{ form_row(registrationForm.agreeTerms) }}</label>

        <button type="submit" class="btn btn-outline" style="border-color: #DDDDDD; color: #DDDDDD; margin-top: 10%; margin-bottom: 10%;">Register</button>
    {{ form_end(registrationForm) }}

</div>

{% endblock %}
