{% extends 'base.html.twig' %}

{% block navbar %} 

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-dark bg-dark navbar-expand-md bg-faded justify-content-center" style="margin-left: 3em; margin-right: 3em">
    <a href="/home" class="navbar-brand d-flex w-50 mr-auto ">Logo</a>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="../salle">ListeSalles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../article">Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../profil">Mon Profil</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
        </ul>           
    </div>
</nav>
{% endblock  %} 
{% block body %}
<main role="main">
</main>
<div class="row mt-3 text-center" style="background: #333333;">          
        {% for article in articles %}
        <div class="col col-md-4">
          <div class="col-md-12 container rounded" style="margin-bottom: 5%; height: 15em; background: #DDDDDD;">
              <h2>{{ article.title }}</h2>
              <div>{{ article.description|slice(0,30)}}</div>
              <img src={{article.image}} />
              <div class="btn-group">
                <a href="{{ path('article_edit', {"id":article.id}) }}" class="btn btn-outline-secondary">Editer</a>
          </div>
        </div>           
        {% endfor %}

</div>

{% endblock %}


