<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quizz{% endblock %}</title>
        <!-- Axentix CSS minified version -->
        <!-- Head of your page -->
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/bootstrap.rtl.min.css')}}">
        <link href="{{asset('templates/base.css.twig') }}" type="text/css" rel="stylesheet" />
        <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.bundle.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
  const button = document.querySelector('#button');
  const tooltip = document.querySelector('#tooltip');

  // Pass the button, the tooltip, and some options, and Popper will do the
  // magic positioning for you:
  Popper.createPopper(button, tooltip, {
    placement: 'right',
  });
</script>


    </head>
    <body style="background-color: #333333; margin-left:3em; margin-right:3em;";>

{% block navbar %}
<style>
nav{
    margin-left: 3%; 
    margin-right: 3%;
}

</style>

<nav class="navbar navbar-dark bg-dark navbar-expand-md bg-faded justify-content-center" style="margin-left: 3em; margin-right: 3em">
    <a href="/home" class="navbar-brand d-flex w-50 mr-auto ">Logo</a>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href={{path('salle_path')}}>ListeSalles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{path('article_path')}}>Article</a>
            </li>
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href={{path('profil')}}>Mon Profil</a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="../login">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../register">S'inscrire</a>
            </li>
            {% endif %}
        </ul>           
    </div>
</nav>

{% endblock %}

{% block body %}
<style>

body{
    margin-left: 3%; 
    margin-right: 3%;
}

</style>
{% endblock %}



    </body>
</html>

