<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quizz{% endblock %}</title>
        <!-- Axentix CSS minified version -->
        <!-- Head of your page -->
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/bootstrap.rtl.min.css')}}">
        <link href="{{asset('templates/base.css.twig') }}" type="text/css" rel="stylesheet" />
        <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>

    </head>
    <body style="background-color: #333333; margin-left:3em; margin-right:3em;";>

{% block navbar %} 
<nav class="navbar navbar-dark bg-dark navbar-expand-md bg-faded justify-content-center" style="margin-left: 3em; margin-right: 3em">
    <a href="/home" class="navbar-brand d-flex w-50 mr-auto ">Logo</a>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href={{path('liste_salles')}}>ListeSalles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{path('blog')}}>Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{path('profil')}}>Profil</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_logout') }}>Se déconnecter</a>
            </li>
        </ul>           
    </div>
</nav>
{% endblock  %}

{% block body %} {% endblock %}



    </body>
</html>

